<div class="card-body px-lg-5 py-lg-5">
    <h6>User</h6>
        <form role="form">
            <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                    </div>
                    <input class="form-control" placeholder="First Name" type="text" name="first_name" [(ngModel)]="registerJobSeekerData.first_name">
                </div>
            </div>
            <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                    </div>
                    <input class="form-control" placeholder="Last Name" name="first_name" type="text" [(ngModel)]="registerJobSeekerData.last_name">
                </div>
            </div>
            <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Email" name="email" type="email" [(ngModel)]="registerJobSeekerData.email">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Password" name="password" type="password" [(ngModel)]="registerJobSeekerData.password">
                </div>
            </div>
            <div class="text-center">
                <button type="button" (click)="registerJobSeeker()" class="btn btn-primary my-4">Register</button>
            </div>
        </form>
    </div>
