.section-lg {
  padding-bottom: 8.2rem;
}

.main_text {
  font-size: 45px;
  font-weight: 700;
  color: linen !important;
}

.smaller_text {
  font-size: 30px;
  font-weight: 700;
  color: linen !important;
}
